header {
  width: 35%;
  height: 100vh;
  background-color: #1c1e53;
  padding: 21px;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: -35%;
  transition: 700ms;
  .main {
    width: 100%;
    nav {
      width: 100%;
      height: inherit;
      ul {
        width: 100%;
        height: inherit;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: start;
        align-items: center;
        gap: 21px;
        li {
          width: 100%;
          text-align: center;
          a {
            transition: 700ms;
            text-decoration: none;
            text-transform: capitalize;
            &:hover {
              color: black;
              border-color: black;
            }
          }
        }
      }
    }
  }
}
label[for="close"] {
  display: block;
  width: fit-content;
  margin-left: auto;
  background-color: darkred;
  color: ivory;
  font-weight: 700;
  font-size: 20px;
  padding: 5px 10px;
  box-sizing: border-box;
  border-radius: 50%;
  box-shadow: 5px 5px 20px black;
  cursor: pointer;
}
.gamebtn {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  label[for="show"] {
    width: 35px;
    height: 35px;
    background-color: darkred;
    border-radius: 50%;
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    div {
      width: 58%;
      height: 3px;
      border-radius: 30%;
      background-color: ivory;
    }
  }
}
input#show:checked ~ header {
  left: 0;
}
input#show:checked ~ .gamebtn>label{
    display: none;
}
input#show {
  display: none;
}
input#close {
  display: none;
}